


body{background-color: black;
    background-image: url('/img/heroes-amarillo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    



}
a{text-decoration: none;
color:white;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{color:white;
    text-align: center;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
li{color:rgb(235, 218, 66)}